name: Test Example Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: "Test Examples Build (CUDA ${{ matrix.cases.cuda-version }} on ${{ matrix.cases.os }})"
    runs-on: ${{ matrix.cases.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        cases:
          - { os: "ubuntu-22.04", cuda-version: "11.7.0", source: "nvidia" }
          - { os: "ubuntu-24.04", cuda-version: "12.6.3", source: "nvidia" }
          - { os: "ubuntu-24.04", cuda-version: "13.0.2", source: "nvidia" }
          - {
              os: "ubuntu-22.04",
              cuda-version: "11.7.0",
              source: "nvidia",
              toolchain: "llvm_host_only", # clang as host compiler
              toolchain-version: "16",
            }
          - {
              os: "ubuntu-24.04",
              cuda-version: "12.6.2",
              source: "nvidia",
              toolchain: "llvm_host_device", # clang as cuda compiler driver
              toolchain-version: "19",
            }
          - {
              os: "ubuntu-24.04",
              cuda-version: "13.0.2",
              source: "nvidia",
              toolchain: "llvm_host_device", # clang as cuda compiler driver
              toolchain-version: "22",
            }
          - {
              os: "ubuntu-22.04",
              cuda-version: "11.5.1-1ubuntu1",
              source: "ubuntu",
            }
          - { os: "windows-2022", cuda-version: "11.5.2", source: "nvidia" }
          - { os: "windows-2025", cuda-version: "12.6.3", source: "nvidia" }
          - { os: "windows-2025", cuda-version: "13.0.2", source: "nvidia" }
    steps:
      - uses: actions/checkout@v5

      - uses: bazelbuild/setup-bazelisk@v3
      - name: Mount bazel cache
        if: ${{ !startsWith(matrix.cases.os, 'windows') }}
        uses: actions/cache@v4
        with:
          path: ~/.cache/bazel
          key: bazel-${{ matrix.cases.os }}-cuda-${{ matrix.cases.cuda-version }}-${{ hashFiles('.bazelversion') }}

      - name: Setup build environment
        uses: ./.github/actions/set-build-env
        with:
          os: ${{ matrix.cases.os }}
          cuda-version: ${{ matrix.cases.cuda-version }}
          source: ${{ matrix.cases.source }}
          toolchain: ${{ matrix.cases.toolchain }}
          toolchain-version: ${{ matrix.cases.toolchain-version }}

      - name: Bazel build config for LLVM (Host Compiler Only)
        if: ${{ !startsWith(matrix.cases.os, 'windows') && matrix.cases.toolchain == 'llvm_host_only' }}
        run: |
          echo "build --config=clang" > $HOME/.bazelrc
          echo "build:clang --@rules_cuda//cuda:archs=sm_80" >> $HOME/.bazelrc

      - name: Bazel build config for LLVM (Compiler Driver)
        if: ${{ !startsWith(matrix.cases.os, 'windows') && matrix.cases.toolchain == 'llvm_host_device' }}
        run: |
          echo "build --config=clang" > $HOME/.bazelrc
          echo "build:clang --@rules_cuda//cuda:archs=sm_80" >> $HOME/.bazelrc
          echo "build:clang --@rules_cuda//cuda:compiler=clang" >> $HOME/.bazelrc

      # need to test some old CTK, but is not easily available in new CI runner, these are workarounds
      - name: Bazel build config to allow unsupported compilers (NVCC)
        if: ${{ !startsWith(matrix.cases.toolchain, 'llvm') }}
        run: |
          echo "build --@rules_cuda//cuda:copts=-allow-unsupported-compiler" >> $HOME/.bazelrc
      - name: Bazel build config to allow unsupported compilers (MSVC)
        if: ${{ startsWith(matrix.cases.os, 'windows') }}
        run: |
          echo "build --@rules_cuda//cuda:copts=-D=_ALLOW_COMPILER_AND_STL_VERSION_MISMATCH" >> $HOME/.bazelrc

      - name: Bazel build config for CI debugging
        run: echo "build --verbose_failures" >> $HOME/.bazelrc

      # Check https://bazel.build/release#support-matrix, manually unroll the the strategy matrix to avoid exploding
      # the combinations.

      # Override cuda redist_json rule version for CI
      - run: echo "CUDA_REDIST_VERSION_OVERRIDE=${{ matrix.cases.cuda-version }}" >> $GITHUB_ENV
        if: ${{ !startsWith(matrix.cases.os, 'windows') }}
      - run: echo "CUDA_REDIST_VERSION_OVERRIDE=${{ matrix.cases.cuda-version }}" >> $env:GITHUB_ENV
        if: ${{ startsWith(matrix.cases.os, 'windows') }}

      # Use Bazel with version specified in .bazelversion
      - run: echo "USE_BAZEL_VERSION=$(cat .bazelversion)" >> $GITHUB_ENV
        if: ${{ !startsWith(matrix.cases.os, 'windows') }}
      - run: echo "USE_BAZEL_VERSION=$(cat .bazelversion)" >> $env:GITHUB_ENV
        if: ${{ startsWith(matrix.cases.os, 'windows') }}

      # out of @examples repo build requires WORKSPACE-based external dependency system
      - run: bazelisk build --jobs=1 @rules_cuda_examples//basic:all
      - run: bazelisk build --jobs=1 @rules_cuda_examples//rdc:all
      - run: bazelisk build --jobs=1 @rules_cuda_examples//if_cuda:main
      - run: bazelisk build --jobs=1 @rules_cuda_examples//if_cuda:main --enable_cuda=False
      # in @examples repo build, bzlmod is enabled by default since Bazel 7
      - run: cd examples && bazelisk build --jobs=1 //basic:all
      - run: cd examples && bazelisk build --jobs=1 //rdc:all
      - run: cd examples && bazelisk build --jobs=1 //if_cuda:main
      - run: cd examples && bazelisk build --jobs=1 //if_cuda:main --enable_cuda=False
      - run: bazelisk shutdown

      # run some repo integration tests
      - run: cd tests/integration && ./test_all.sh ${{ startsWith(matrix.cases.toolchain, 'llvm') && '--no-components' || '' }}
        if: ${{ matrix.cases.source == 'nvidia' }}
      - run: cd tests/integration && ./test_all.sh --no-components --no-redist
        if: ${{ matrix.cases.source == 'ubuntu' }}
      - run: cd tests/hermeticity && ./test.sh ${{ (startsWith(matrix.cases.cuda-version, '11') || startsWith(matrix.cases.cuda-version, '12')) && '--allow-non-hermetic' || '' }}
        if: ${{ !startsWith(matrix.cases.os, 'windows') && !startsWith(matrix.cases.toolchain, 'llvm') }} # only run for nvcc on linux

      # Use Bazel 7
      - run: echo "USE_BAZEL_VERSION=7.5.0" >> $GITHUB_ENV
        if: ${{ !startsWith(matrix.cases.os, 'windows') }}
      - run: echo "USE_BAZEL_VERSION=7.5.0" >> $env:GITHUB_ENV
        if: ${{ startsWith(matrix.cases.os, 'windows') }}

      # out of @examples repo build requires WORKSPACE-based external dependency system
      - run: bazelisk build --jobs=1 --noenable_bzlmod @rules_cuda_examples//basic:all
      - run: bazelisk build --jobs=1 --noenable_bzlmod @rules_cuda_examples//rdc:all
      - run: bazelisk build --jobs=1 --noenable_bzlmod @rules_cuda_examples//if_cuda:main
      - run: bazelisk build --jobs=1 --noenable_bzlmod @rules_cuda_examples//if_cuda:main --enable_cuda=False
      # in @examples repo build, bzlmod is enabled by default since Bazel 7
      - run: cd examples && bazelisk build --jobs=1 //basic:all
      - run: cd examples && bazelisk build --jobs=1 //rdc:all
      - run: cd examples && bazelisk build --jobs=1 //if_cuda:main
      - run: cd examples && bazelisk build --jobs=1 //if_cuda:main --enable_cuda=False
      - run: bazelisk shutdown

      # run some repo integration tests
      - run: cd tests/integration && ./test_all.sh ${{ startsWith(matrix.cases.toolchain, 'llvm') && '--no-components' || '' }}
        if: ${{ matrix.cases.source == 'nvidia' }}
      - run: cd tests/integration && ./test_all.sh --no-components --no-redist
        if: ${{ matrix.cases.source == 'ubuntu' }}

      # Use Bazel 6
      - run: echo "USE_BAZEL_VERSION=6.4.0" >> $GITHUB_ENV
        if: ${{ !startsWith(matrix.cases.os, 'windows') }}
      - run: echo "USE_BAZEL_VERSION=6.4.0" >> $env:GITHUB_ENV
        if: ${{ startsWith(matrix.cases.os, 'windows') }}

      - run: bazelisk build --jobs=1 @rules_cuda_examples//basic:all
      - run: bazelisk build --jobs=1 @rules_cuda_examples//rdc:all
      - run: bazelisk build --jobs=1 @rules_cuda_examples//if_cuda:main
      - run: bazelisk build --jobs=1 @rules_cuda_examples//if_cuda:main --enable_cuda=False
      - run: cd examples && bazelisk build --jobs=1 --enable_bzlmod //basic:all
      - run: cd examples && bazelisk build --jobs=1 --enable_bzlmod //rdc:all
      - run: cd examples && bazelisk build --jobs=1 --enable_bzlmod //if_cuda:main
      - run: cd examples && bazelisk build --jobs=1 --enable_bzlmod //if_cuda:main --enable_cuda=False
      - run: bazelisk shutdown
