name: Test Utilities

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: "Test Utilities (bazel ${{ matrix.bazel-version }} on ${{ matrix.os }})"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - windows-2025
        bazel-version:
          # NOTE: read from .bazelversion so that we don't randomly break our
          # ci due to latest bazel version change
          - 9.0.0rc5
          - .bazelversion
          - 7.5.0
          - 6.5.0
    env:
      USE_BAZEL_VERSION: ${{ matrix.bazel-version }}
    steps:
      - uses: actions/checkout@v5

      # conditionally override USE_BAZEL_VERSION
      - run: if [ "${{ matrix.bazel-version }}" = ".bazelversion" ]; then echo "USE_BAZEL_VERSION=$(cat .bazelversion)" >> $GITHUB_ENV; fi
        if: ${{ !startsWith(matrix.os, 'windows') }}
      - run: if ("${{ matrix.bazel-version }}" -eq ".bazelversion") { echo "USE_BAZEL_VERSION=$(cat .bazelversion)" >> $env:GITHUB_ENV }
        if: ${{ startsWith(matrix.os, 'windows') }}

      - uses: bazelbuild/setup-bazelisk@v3
      - name: Mount bazel cache
        if: ${{ !startsWith(matrix.os, 'windows') }}
        uses: actions/cache@v4
        with:
          path: ~/.cache/bazel
          key: bazel-${{ matrix.os }}-${{ matrix.bazel-version }}

      - uses: Jimver/cuda-toolkit@v0.2.30
        with:
          cuda: 11.7.0
          sub-packages: '["cudart"]'
          method: network

      - run: bazelisk test -- //tests/...

      - run: bazelisk shutdown
